{% load static %}
<!doctype html>
<meta charset="utf-8">
<html>
    <head>
        <title>Luminus_web</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}">
    </head>
    <body>
        <!--navbar-->
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-navy">
        <div class="container">
            <a class="navbar-brand" href="../status"><img src="{%static 'starandmoonlogo.png' %}" style="height : 35px;" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="../led">LED
                    <span class="sr-only">(current)</span> <!--??-->
                  </a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="../calender">Calender</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../alarm">Alarm</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href=""../music"">Music</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../time">Time Off</a>
                </li>
              </ul>
              <!--<form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
              </form>-->
            </div>
          </div>
          </nav>

        <!--title-->
        <div class="container">
          <div class="bs-docs-section">
            <div class="row">
              <div class="col-lg-12">
                <div class="page-header">


                    <h3>신남 </h3>

                <audio autoplay controls>
                    <source src="{%static '신남.mp3' %}" type="audio/mp3">
                </audio>



                </div>
              </div>
            </div>
          </div>
        </div>
  <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h1 class="my-3">호수</h1>

                <h5 class="my-2" style="vertical-align: middle"> 정지용</h5>
                <h3 class="my-3"></h3>

                <p>얼굴 하나야<br>
                손바닥 둘로 <br>
                폭 가리지만<br><br>

                보고 싶은 마음<br>
                호수만 하니<br>
                눈 감을 밖에</p>
            </div>

        </div>

    </div>
    </body>
</html>


