{% load static %}
<html>
  <head></head>
  <body bgcolor='#034488'>
    <img src="{%static 'moonandstar.png' %}" 
    style="display: block; margin-left: auto; margin-right: auto; width : 400px" />

              <ul class="nav navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="download">{{ user }} <span class="caret"></span></a>
                        <div class="dropdown-menu" aria-labelledby="download">
                            {#                        <a class="dropdown-item" href="https://jsfiddle.net/bootswatch/3he50zsf/">Open in JSFiddle</a>#}
                            {#                        <div class="dropdown-divider"></div>#}
                            {#                        <a class="dropdown-item" href="../4/simplex/bootstrap.min.css">bootstrap.min.css</a>#}
                            {#                        <a class="dropdown-item" href="../4/simplex/bootstrap.css">bootstrap.css</a>#}
                            {#                        <div class="dropdown-divider"></div>#}
                            {#                        <a class="dropdown-item" href="../4/simplex/_variables.scss">_variables.scss</a>#}
                            <a class="dropdown-item" href="/accounts/logout/">Log out</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">
                            Log in
                        </button>
                    </li>
                {% endif %}
            </ul>

{% load socialaccount %}

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <a role="button" class="btn btn-primary" href="{% provider_login_url 'google' %}"><i class="fab fa-google"></i> Log in with Google</a>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>


  </body>
</html>