{% load static %}
<!doctype html>
<meta charset="utf-8">
<html>
    <head>
        <title>Luminus_web</title>
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}"> 
    </head>
    <body>
        <div>
            <nav id="nav">
                <a href=""><img src="{%static 'moonandstar.png' %}" style="width : 50px" /></a>
                <ul>
                    <li><a href="">LED</a></li>
                    <li><a href="">Calender</a></li>
                    <li><a href="">Alarm</a></li>
                    <li><a href="">Music</a></li>
                    <li><a href="">Time Off</a></li>
                </ul>
            </nav>
        </div>  
    </body>  
</html>